@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1 class="jumbotron">Travel Blog</h1>
<a href="/locations">Locations</a>
<a href="/persons">Persons</a>
<a href="/things">Things</a>
<a href="/newpersons">New Persons(many to many)</a>
<a href="/newthings">New Things(many to many)</a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.5.4/react.min.js"></script>

